{% extends 'base.html.twig' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
    <br />
    <div class="container">
        <h1>{{ article.title }}</h1>
        <p>
            {{ article.description }}
        </p>

        <figure>
            <img src="{{ article.image }}" alt="photo">
        </figure>
        <small class="text-muted">Date de publication : {{ article.createdAt|date("d/m/y") }}</small>
    </div>
{% endblock %}

